/* Rest-Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom-color */

:root {
  --dark-color: #191919;
  --gray-color: #8a8a8a;
  --green-color: #00ff97;
}

body {
  background-color: var(--dark-color);
  height: 100vh;
  font-size: 16px;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/* Clock Desgin */

.content-container .content .week-days ul {
  list-style: none;
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.content-container .content ul li a {
  text-decoration: none;
  color: var(--gray-color);
  font-size: 1.6rem;
  font-family: "Popins", sans-serif;
}

.content-container .content ul li a:hover {
  color: var(--green-color);
}
/* styling-clock */

.clock-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock h2 {
  font-family: "Popins";
  font-size: 5rem;
  color: var(--green-color);
}

.btn-group {
  display: flex;
  align-items: center;
}
